[Unit]
Description=Servs archived repos/models metadata
After=graphical.target

[Service]
User=tomer
Environment=RUST_LOG=info
ExecStart=/home/tomer/.cargo/bin/repotool serve --git-repo-archive /home/tomer/drive/repo-archive.txt --huggingface-archive /home/tomer/drive/huggingface-archive.txt
Restart=always

[Install]
WantedBy=graphical.target
